{
  "env": {
    "jest": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "document": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/state-in-constructor": [0],
    "react/prop-types": [0]
  }
}
